.productsAndFilterContainer {
  min-height: calc(100vh - 5rem);
  display: grid;
  padding: 0;
  transition: var(--transition);
}

.breadcrumbContainer {
  grid-column: 1 / -1;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .productsAndFilterContainer {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    position: static;
    gap: 0 1rem;
  }

  .productsAndFilterContainer > :nth-child(2),
  .productsAndFilterContainer > :nth-child(3) {
    grid-row: 3;
  }

  .productsAndFilterContainer > :nth-child(2) {
    grid-column: 1;
  }

  .productsAndFilterContainer > :nth-child(3) {
    grid-column: 2;
  }

  .breadcrumbContainer {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  .productsAndFilterContainer::before {
    display: none;
  }

  .productsAndFilterContainer > .redirectToTopLink {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .productsAndFilterContainer {
    gap: 0 4rem;
    grid-template-columns: 350px 1fr;
  }
}
